/* costume font */
@font-face {
    font-family: Pokemon;
    src: url(/Font/Pokemon\ Classic.ttf) format('truetype');
}

h2{
    font-size: medium;
    font-family: Pokemon Classic, Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#background{
    width: 720px;
    height: 480px;
    background-image: url("../images/HappyMochi.png");
    background-size: cover;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 480px;
}

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    place-items: center;
    background: rgb(0,0,0,.9);   
}

.start-button {
    cursor: pointer;
    padding: 2em 3em;
    text-transform: uppercase;
    font-family: Pokemon Classic, Arial, Helvetica, sans-serif;
    background: #5C6944;
    border: solid 1px #3A4622;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 10px 10px 0 black;
    transition: box-shadow 400ms ease, background-color 400ms ease;
}

.start-button:hover {
    box-shadow: 0 0 0 black;
    background-color: #7F8F62;
}

.text {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 1.5em;
    margin-left: 5em;
    margin-right: 5em;
}

/* Progress-bar Styling */

.progress-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2em;
    margin-right: 2em;
}

.progress-bar {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    
    width: 7em;
    height: 1em;
    background-color: white;
    border: solid 1px #000;
    border-radius: 3px;
    margin-left: 2.5em;
}

.progress-bar__progress {
    height: 100%;
    width: 100%;
    background-color: rgb(14, 197, 42);
    border: 2px;
    transition: background-color 300ms, width 300ms ease-in;
}

.interactions {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.interactions button {
    height: 5em;
    width: 7em;
    background: none;
    border: none;
    cursor: pointer;
}

.interactions button img {
    width: 100%;
    height: 100%;
}

.interactions button:hover {
    transform: scale(1.1);
}
